.contact-form {
    color: #212121;
    font-size: 20px;
}

.mb-6 {
    margin-bottom: 30px !important;
}

.col-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
}

.contact-form .input-item,
.contact-form .textarea-item {
    width: 100%;
    border: 0;
    font-size: 14px;
    background: #E9ECEF;
}

.contact-form .input-item {
    padding: 10px 20px;
}

.textarea-item {
    width: 100%;
    border: 0;
    font-size: 14px;
    background: #E9ECEF;
}

.contact-form .textarea-item {
    min-height: 130px;
    padding: 10px 20px;
}

textarea {
    resize: vertical;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

.btn-primary {
    background-color: #037D80;
    color: #FFF;
}


/* contact section */